/* General styles */
/*Colors used in the website
    AFE9B3
    D2F2D5
    FDFDFD
*/

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

section{
    margin: 0;
    padding: 0;
}
/* Make home section more compact */
.home {
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-left: 1rem;
    animation-name: come-in-right;
    animation-duration: 2s;
}

@keyframes come-in-right {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.home h1{
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #4A4A4A;
}

.home h2{
    font-size: .8rem;
    font-family:'Arial' sans-serif;
    font-weight: 500;
    color: #4A4A4A;

}

nav{
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
}

.navbar {
    overflow: hidden;
    background-color: white;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.navbar .icon {
    display: none;
}

.section{
    transition: opacity 0.1s ease; 
    animation: fade-in 2s;
}

.section.active {
    opacity: 1; /* Visible when active */
}

#Home{
    background-color: #fbfdfb;
}

.navbar img{
    width: 110px;
    height: 50px;
}

.mid-image{
    height: 50%;
    padding: 1%;
    background-image: url('../images/imgs/piggy_green.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.horizontal-text{
    display: inline-block;
    animation: come-in-up 2s;
}

@keyframes come-in-up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.horizontal-text p{
    font-size: .7rem;
    font-family:'Arial' sans-serif;
    font-weight: 400;
    color: #4A4A4A;
    text-align: justify;
    padding: 1%;
}

.vertical-text{
    /*put this on right side*/
    display: inline-block;
    animation: come-in-right 2s;
}

.right-text{
    font-size: .7rem;
    font-family:'Arial' sans-serif;
    font-weight: 400;
    color: #4A4A4A;
    text-align: justify;
    width: 40%;
    margin-left: 60%;
}

.button-container{
    margin-top: 30%;
    margin-left: 75%;
    display: block;
    animation: fade-in 4s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.get-started{
    background-color: #f4f4f4;
    color: #494141;
    width: 90%;
    height: 30px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: .7rem;
}

button:hover {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
}

/* What we offer page*/

#offers{
    display: flex;
    flex-direction: column;
}

.Top{
    animation: fade-in 7s;
}

.item-1 img{
    width: 30%;
    height: 70%;
}

.item-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}

.description h2{
    font-size: 1.2rem;
    font-family: 'Arial' sans-serif;
    font-weight: 600;
    color: #4A4A4A;
    animation: come-in-up 2s;
}

.description p{
    font-size: .7rem;
    font-family: 'Arial' sans-serif;
    font-weight: 400;
    color: #4A4A4A;
    text-align: justify;
    animation: come-in-right 2s;
}

.item-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}

.item-2 img{
    width: 20%;
    height: 80%;
}

#offers{
    height: 90vh;
}

#offers h1{
    font-size: 1.5rem;
    font-family: 'Arial' sans-serif;
    font-weight: 500;
    text-align: center;
    color: #4A4A4A;
}

#offers h3{
    font-size: 1.7rem;
    font-family: 'Arial' sans-serif;
    font-weight: 600;
    text-align: center;
    color: #4A4A4A;
}

/*Suggestion of loan*/
.suggestion-loan{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.suggestion-loan h2{
    font-size: 1.6rem;
    font-family: 'Arial' sans-serif;
    font-weight: 400;
    color: #4A4A4A;
}

.suggestion-loan p{
    font-size: .8rem;
    font-family: 'Arial' sans-serif;
    font-weight: 400;
    color: #4A4A4A;
    text-align: justify;
}

/* Loan calculator page */

#loan-calculator{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 5%;
    border: 1px solid #d5d5d5;
    background-color: #f7f7f7;
}

.calculator h1{
    margin-top: 12%;
    font-size: 1.3rem;
    font-family: 'Arial' sans-serif;
    font-weight: 500;
    color: #4A4A4A;
}

.input{
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    margin-bottom: 5%;
}

.input input{
    width: 100%;
    height: 30px;
    padding: 12px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fefdfd;
    font-size: 0.7rem;
}

.input select{
    width: 100%;
    height: 30px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #5c5c5c;
    border-radius: 4px;
    box-sizing: border-box;
    color: #323131;
}

.input label{
    font-size: .75rem;
    font-family: 'Arial' sans-serif;
    font-weight: 400;
    color: #4A4A4A;
}

.calculator button {
    width: 40%;
    height: 40px;
    margin: 8px 0;
    display: inline-block;
    justify-items: center;
    align-self: center;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #303030;
    font-size: 0.7rem;
    color: #ffffff;
}

.result{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6%;
}
.result h2{
    font-size: 1.4rem;
    font-family: 'Arial' sans-serif;
    font-weight: 500;
    color: #4A4A4A;
}

/* put the span in new line*/
.result span{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Arial' sans-serif;
    font-weight: 100;
    color: #4A4A4A;

}

.not-sure{
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.not-sure h3{
    margin-left: 5%;
    font-size: 1.5rem;
    font-family: 'Arial' sans-serif;
    font-weight: 400;
    color: #4A4A4A;
}

.not-sure span{
    font-size: 1.2rem;
    font-family: 'Arial' sans-serif;
    font-weight: 400;
    color: #4A4A4A;
    text-align: justify;
}

.contactbtn{
    width: 30%;
    height: 35px;
    border-radius: 4px;
    align-self: center;
    background-color: #f4f4f4;
    color: #494141;
    border: none;
    cursor: pointer;
}

#customersinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
}

#customersinfo div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

#customersinfo h2{
    font-size: 1.2rem;
    font-family: 'Arial' sans-serif;
    font-weight: 400;
    color: #4A4A4A;
    text-align: center;
}
#customersinfo h1{
    font-size: 1.5rem;
    font-family: 'Arial' sans-serif;
    font-weight: 400;
    color: #4A4A4A;
    text-align: center;
    animation: count 2s ease-out forwards;
    opacity: 0;
}

@keyframes count {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {

    /* Make testimonials section more compact */
    .testimonials {
        flex-direction: column;
    }

    .testimonials .card {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .navbar a {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}